<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ecocity_efm_drm">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EcoCity_EFM_DRM">

        <!-- MAINACTIVITY -->

        <!-- TRUE exportado porque es la actividad de inicio -->
        <activity
            android:name=".MainActivity"
            android:exported="true">

            <intent-filter>

                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />

            </intent-filter>

        </activity>

        <!-- CREARINCIDENCIAACTIVITY -->
        <!-- FALSE exportado -->

        <activity
            android:name=".CrearIncidenciaActivity"
            android:exported="false"/>

    </application>

</manifest>
